rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read access to everyone (public images)
      allow read: if true;
      
      // Allow write access only to authenticated users
      // Limit size to 50MB (for videos) and ensure it is an image or video
      // Allow write access only to authenticated users
      allow write: if request.auth != null;
    }
  }
}
